<header class="d-flex flex-wrap justify-content-between px-3">
    <div class="header-left d-flex align-items-center">
      <a href="/index.html" class="me-md-auto text-dark text-decoration-none" id="header-link">
          <img src="/geovrFE-main/assets/logoGeovrCat.jpg" id="header-logo" alt="Geovr logo" class="bi me-2 ms-3">
          <!-- <span class="fs-5 fw-bold">OpenStreetMap</span> -->
      </a>
      <div id="header-search"></div>
    </div>
    <nav class="secondary d-flex align-items-center">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/traces">GPS Traces</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/diary">User Diaries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/communities">Communities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/copyright">Copyright</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary px-1" href="/about">About</a>
            </li>
          </ul>
        <div class="d-inline-flex btn-group px-1" >
          <a class="btn btn-outline-secondary btn-sm rounded-start" href="/geovrFE-main/pages/authPage/index.html">Log In</a>
          <a class="btn btn-outline-secondary btn-sm rounded-end" href="/geovrFE-main/pages/authPage/new.html">Sign Up</a>
        </div>
    </nav>
</header>
